KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", SUBSYSTEMS=="usb", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", ACTION=="add|change" RUN+="/usr/local/bin/configure-logitech-c920-webcam.sh"
